* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #a1a1a1;
  color: white;
}

.box {
  height: 150px;
  width: 400px;
  text-align: justify;
  background: teal;
  margin: 50px;
  padding: 10px;
  border: 5px double white;
}
