* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #a1a1a1;
}

.container {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

p {
  text-indent: 25px;
  background-color: teal;
  color: white;
  margin-top: 10px;
  padding: 10px;
}
