* {
  font-family: "Poppins" sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #dfe4ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 3px;
}

ul li::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: transparent;
  /* transition: width 0.5s ease; */
  /* transition: width 0.5s ease, background-color 0.5s ease; */
  transition: all 0.5s ease;
}

li:hover::after {
  width: 100%;
  background-color: red;
}
