.square {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  transition-duration: 3s;
  transition-property: all;
  transition-timing-function: ease-in;
}

.square:hover {
  background-color: blueviolet;
  width: 600px;
  transform: rotate(45deg);
}
