body {
  background-color: #ecf0f1;
  padding: 50px;
  color: #2c3e50;
}
h3 {
  font-size: 50px;
}

.box {
  width: 150px;
  height: 150px;
  background-color: orangered;
  transition-property: width;
  transition-duration: 1s;
  margin-left: -200px;
}

.box:hover {
  width: 300px;
}

.box1 {
  width: 150px;
  height: 150px;
  background-color: orangered;
  /* transition-property: width, height, background-color;
  transition-duration: 1s, 2s, 0.5s; */
  /* transition: width 1s, height 2s, background-color 0.5s; */
  /* transition: width, height, background-colo 1s, 2s, 0.5s; */
  /* transition-property: all;
  transition-duration: 1s; 
  transition-delay: 2s;
  transition-timing-function: ease;
  */
  /* transition: all 1s 2s ease; */
  transition: all 1s ease-in;
}

.box1:hover {
  width: 300px;
  height: 300px;
  background-color: blue;
}
