/*
1. Static
2. Relative
    left, right, top, bottom
3. Absolute
4. Fixed
5. Sticky
*/

/* default document flow all postion is in static only */

.main {
}

.box1 {
  position: relative;
  left: 50px;
  top: 25px;
}

.box2 {
}

.box3 {
}
