/*
1. Static
2. Relative
    left, right, top, bottom
3. Absolute
    left, right, top, bottom
    relative to the parent
4. Fixed
5. Sticky
*/

/* default document flow all postion is in static only */

.main {
  position: relative;
}

.box1 {
  position: absolute;
  bottom: 0px;
}

.box2 {
}

.box3 {
}
