.main {
  border: 5px solid gray;
  width: 500px;
  height: 500px;
  font-weight: bold;
}

.box {
  width: 100px;
  height: 100px;
  padding: 10px;
  color: white;
  font-weight: bold;
}

.box1 {
  background-color: teal;
}

.box2 {
  background-color: tomato;
}

.box3 {
  background-color: yellowgreen;
}
